div{
	width: 90%;
	display:grid;
	grid-template-columns: 1fr;
	border: 2px solid blue;
}
img{
	/*transform:rotate(-15deg);*/
	width:95%;
	padding:5px;
	position:relative;
	filter: grayscale(.75);
  	transition-property: filter, border-radius, border; 
  	transition-duration: .25s;
  	transition-timing-function: linear;

  /*	animation-name: slidein;
  	animation-duration: 2s;*/
}

img:hover{
	filter: grayscale(0);
	border-radius: 25px;
	border:2px solid grey;
}

/*img:nth-child(3n){
	transform:rotate(-30deg);
}

img:nth-child(2n){
	transform:rotate(30deg);
}
img:nth-child(4n){
	transform:rotate(15deg);
}*/


img:active{
	transform:rotate(0deg);
}


/*How to do animation*/
@keyframes slidein {
  from {
  	left: -1000px;
  	top: -250px;
  }
  to {
  	left: 0;
  	top:0;
  }
}

@media all and (min-width:667px){
	div{
		grid-template-columns: 1fr 1fr;
	}
}
@media all and (min-width:900px){
	div{
		grid-template-columns: 1fr 1fr 1fr;
	}

	img:nth-child(2n){
		animation-duration: 3s;
	}

	img:nth-child(3n){
		animation-duration: 4s;
	}
}